body {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgb(31, 30, 30) 49%, rgba(0,0,0,1) 100%);
}

.all-text {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    color: white;
}

.title-text {
    font-size: 52px;
    font-weight: bold;
    margin-top: 50px;
}

#game-frame {
    margin: 50px auto 20px auto;
    padding: 20px 20px;
    background-color: rgba(240, 254, 255, 0.075);
    border: 1px;
    border-radius: 10px;
    width: auto;
    height: 300px;
    align-items: center;
    align-content: center;
    text-align: center;
    transition-duration: 1s;
}

@keyframes grow {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}


.start-button {
    animation: none;
    background-color: rgba(255, 255, 255, 0.315);
    color: white;
    padding: 10px 35px;
    border-radius: 10px;
    border: none;
    transition-duration: 0.4s;
    text-decoration: none;
    cursor: pointer;
    margin: auto;
    display: flex;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
}

button {
    animation: grow 0.4s ease-out;
    border-radius: 10px;
    margin: 5px 5px;
    background-color: hsl(0, 1%, 34%);
    transition-duration: 0.4s;
    text-decoration: none;
    cursor: pointer;
}

button:hover {
    background-color: hsl(0, 0%, 73%);
}

button.temp-correct {
    background-color: hwb(0 63% 37%);
}

button.marked {
    background-color: #ffffff;
}

button.incorrect {
    background-color: #d62b2b;
}

button.correct {
    background-color: hsl(0, 0%, 100%);
}


.game-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

/* Game over screen */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    font-family: 'Courier New', Courier, monospace;
    background-color: hsl(0, 0%, 15%);
    color: white;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: none;
    border-radius: 10px;
    width: 25%; /* Could be more or less, depending on screen size */
    text-align: center;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}